@charset "utf-8";

body {
		background:#CCC;
}

#wrapper {
		width: 80%;
		height: 100px;
		margin: 0 auto;
		}
		
	#obrazek {
		background: none;
		position: relative;
		top: 50px;
		left: 50px;
	}